<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>AngularJS</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.3.16/angular-messages.min.js"></script>
  <script src="https://code.angularjs.org/1.3.16/angular-resource.min.js"></script>
</head>

<body>


<div data-ng-controller="mainController">

  <div>
    <label>What is your twitter handle?</label>
    <input type="text" data-ng-model="handle" />

    <hr />
    <h1>twitter.com/{{ lowercaseHandle() }}</h1>
  </div>


  <!-- <h1>Hello {{ name + '. How are you?' }}</h1> -->

  <!-- Example showing ngResource module and service for validations. -->
  <!-- <form name="myForm">
    <input type="text" ng-model="field" name="myField" required minlength="5" />
    <div ng-messages="myForm.myField.$error">
      <div ng-message="required">You did not enter a field</div>
      <div ng-message="minlength">The value entered is too short</div>
    </div>
  </form> -->

</div>

<script type="text/javascript">
  var myApp = angular.module('myApp', []);

  myApp.controller('mainController', ['$scope', '$filter', function($scope, $filter) {

    $scope.handle = '';

    $scope.lowercaseHandle = function() {
      return $filter('lowercase')($scope.handle);
    };

    // $scope.name = 'Tony';

    // $timeout(function() {

    //   $scope.name = 'Everybody';

    // }, 3000);


    // Example demonstrating services.
    // $scope.name = 'John';
    // $scope.formattedName = $filter('uppercase')($scope.name);

    // $log.info($scope.name);
    // $log.info($scope.formattedName);

    // Example demonstrating the log service.
    // $log.log('Hello.');
    // $log.info('This is some information');
    // $log.warn('Warning!');
    // $log.debug('Some debug information while writing my code.');
    // $log.error('This was an error!!!');
  }]);

  // Example demonstrating Scope
  // console.log(angular.injector().annotate(searchPeople));


  // Example demonstrating Dependecny Injection
  // var Person = function(firstname, lastname) {
  //   this.firstname = firstname;
  //   this.lastname = lastname;
  // };
  // function logPerson(person) {
  //   console.log(john);
  // }
  // var john = new Person('John', 'Doe');
  // logPerson(john);


  // Example demonstrating directives using HTML5 attributes.
  // $(document).ready(function() {
  //   console.log($('h1').attr('data-ng-reply'));
  // });

</script>

</body>
</html>